
td {
width:50px;
height:50px;
max-height:50px;
max-width:50px;
}
td img {
	display:block;
}
img {
width: 100%;
height:100%;
}
body {
background-color: black;
}
#divTable {
width:75%;
display:inline-block;
overflow:hidden;
float:right;
}
#divInfo {
margin-left: 5%;
width:85%;
display:inline-block;
float:left;
}
#hInfo {
text-align:center;
}

button {
font-family:courier;
background:none;
color: white;
margin-left: 40%;
width:20%;
border: 1px solid white;
}
#divLeft {
width: 20%;
display:inline-block;
margin-left: 1%;
position: absolute;
bottom:0;
top:36px;
}
#divLeft p {
color: white;
font-family: courier;
width: 85%;
margin-left: 5%;
font-size: 15px;

}
#btnRandom, #btnRandomUnlistened {
float:left;
width: 85%;
margin-left:5%;
margin-bottom: 5px;
}
td {
padding:0px !important;
margin:0px !important;
border:2px solid black;
}
#divFilters {
width: 100%;
display:inline-block;
margin-left: 1%;
bottom:0;
top:0;
}
#divBackup {
width: 100%;
display:inline-block;
margin-left: 1%;
bottom:0;
}
#divBackup button {
float:left;
margin-left:4%;
margin-bottom:5px;
}
#divFilters button {
float:left;
margin-left:4%;
margin-bottom:5px;
}

#pAward {
font-size:12px !important;
}
.genrebtn {
height: 40px;
}
th {
color:white;
font-size:8px;
font-family:courier;
}
tr td:nth-of-type(1) {
color:white;
font-size:8px;
font-family:courier;
width:5px;
}
a {
	color:white;
}
#divBar {
width:100%;
height:25px;
background-color:black;
top:0;
border-bottom: 1px solid white;
}
#divBar p {
color:white;
font-family:courier;
display:inline;
margin-left:1%;
text-align:center;
font-weight:bold;
}
#divBar a {
color:white;
font-family:courier;
display:inline;
text-decoration:none;
align-items: center;
justify-content: center;
}
#divBar a:hover {
text-decoration:underline
}